.MsgContainerMain {
  width: 100%;
  height: 76%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  //scroll-behavior: smooth;
}

.MsgContainerMain::-webkit-scrollbar {
  display: none;
}

.MsgContainerMainDate {
  @include regular05625;
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: #ffffff;
  padding: 0.225rem 0.675rem;
  text-align: center;
  border: 0.04rem solid #DDDDDD;
  border-radius: 2.25rem;
  color: $gray;
  margin: 0.6rem auto 0.9rem auto;
}

.SendMsgBox {
  max-width: 65%;
  @include regular08;
  color: #ffffff;
  width: fit-content;
  margin: 0.28rem 1.25rem 0.28rem 0.375rem;
  box-shadow: 1px 4px 6px rgba(145, 145, 145, 0.1);
  border-radius: 14px 14px 0 14px;
  padding: 0.5rem 1rem;
  background: linear-gradient(82.02deg, #2F80ED 11.93%, #2F80ED 11.94%, #70A0E0 104.3%);
}

.ReceivedMsgBox {
  max-width: 50%;
  @include regular08;
  color: $black;
  width: fit-content;
  margin: 0.28rem 0.375rem 0.28rem 0.625rem;
  border: 0.5px solid #DDDDDD;
  box-shadow: 1px 4px 6px rgba(144, 144, 144, 0.1);
  border-radius: 14px 14px 14px 0;
  padding: 0.5rem 1rem;
  background: #ffffff;
}

.MsgContainerRight {
  width: 100%;
  justify-content: end;
  display: flex;
}

.MsgContainerLeft {
  width: 100%;
  justify-content: start;
  display: flex;
}

.HostProfileBox {
  float: left;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 70%;
  padding: 0 0 0 1rem;

  img {
    width: inherit;
    border-radius: 70%;
  }
}

.MsgTimeStamp {
  @include regular05625;
  color: #B1b1b1;
  height: 2.5rem;
  display: flex;
  align-items: end;
}

.RoomCreateBtn {
  @include regular08;
  background-color: $blue;
  color: white;
  text-align: center;
  font-weight: bold;
  width: fit-content;
  box-shadow: 8px 8px 8px rgba(144, 144, 144, 0.1);
  border-radius: 14px 14px 14px 14px;
  padding: 0.5rem 1rem;
  margin: 0.6rem 1.313rem 0.6rem 1.313rem;
  cursor: pointer;
}

.CreateNewChat {
  @include regular08;
  color: $lightGray;
  text-align: center;
  width: 100%;
  margin: 0.3rem;
}