@import "fonts";
@import "colors";
@import "MsgContainerHeader";
@import "MsgContainerFooter";
@import "MsgContainerMain";

.WidgetContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.MsgContainer {
  background-color: #f5f5f5;
  width: 20.8125rem;
  height: 38.25rem;
  bottom: 100px;
  right: 3rem;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 4px 26px rgba(201, 201, 201, 0.25);
  z-index: 1001;
}